@use '@/src/styles/variables' as *;

main.admin {
    width: 90vw;
}

.admin-table-container {
    width: 100%;
    margin-bottom: 1rem;
    h2 {
        margin-top: 0;
    }
}

.admin-table-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
        display: flex;
        align-items: center;
    }
}

table.admin-table {
    width: 100%;
    border-collapse: collapse;
    @media screen and (max-width: 425px) {
        font-size: 1rem;
    }
    thead {
        th {
            background-color: $secondary-color;
            border: 1px solid $footer-color;
            padding: 0.2rem;

        }
        button {
            &:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }
    }



    tbody td {
        border: 1px solid $footer-color;

        text-align: center;
        padding: 5px;

        label {
            width: fit-content;
            justify-self: center;
        }
    }
}
