@use '../../styles/variables' as *;

.map-google {
    width: 100%;
    margin: auto;
    @media screen and (min-width: $medium) {
        width: 80%;
        text-align: center;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem auto;
        span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            svg {
                width: 5rem;
                height: 5rem;
            }
        }

    }

    iframe {
        height: clamp(100px, 40vh, 50rem);
        margin: 1rem auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
