
.btn-switch {
    --track-size: calc(var(--thumb-size) * 2);
    --track-padding: 2px;

    --track-inactive: hsl(80 0% 80%);
    --track-active: hsla(263, 93%, 84%, 1);

    --track-color-inactive: var(--track-inactive);
    --track-color-active: var(--track-active);

    --thumb-size: 1.2rem;
    --thumb: hsl(0 0% 100%);
    --thumb-highlight: hsl(0 0% 0% / 25%);

    --thumb-color: var(--thumb);
    --thumb-color-highlight: var(--thumb-highlight);

    width: 100px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: none;

    /*       cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent; */

    input {
        appearance: none;
        inline-size: var(--track-size);
        block-size: var(--thumb-size);
        padding: var(--track-padding);

        flex-shrink: 0;
        display: grid;
        align-items: center;
        grid: [track] 1fr / [track] 1fr;

        border: none;
        outline-offset: 5px;
        box-sizing: content-box;

        background: var(--track-color-inactive);
        border-radius: var(--track-size);

        --thumb-position: 0%;

        &::before {
            transition: transform 0.25s ease,
                box-shadow 0.25s ease;
            content: '';
            grid-area: track;
            inline-size: var(--thumb-size);
            block-size: var(--thumb-size);
            background: var(--thumb-color);
            border-radius: 50%;
            box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-highlight);
            transform: translateX(var(--thumb-position));
        }
    }
    input:checked {
      background: var(--track-color-active);
      /* positioned at the end of the track: track length - 100% (thumb width) */
      --thumb-position: calc(var(--track-size) - 100%);
    }
}
