@use '@/src/styles/variables' as *;

.legend {
    display: flex;
    align-items: center;
    gap: 1rem;
    .legend-item{
        display: flex;
        align-items: center;
        gap: 0.2rem;
        line-height: 1.5;
        margin-bottom: 0.2rem;
        .square {
            width: 25px;
            height: 25px;
            border-radius: 5px;
            border: 1px solid $footer-color;
            &.booked {
                background-color: hsl(0, 0%, 65%);

            }
        }
    }
}

table.price-table {
    width: 100%;
    min-height: 580px;
    border-collapse: collapse;
    caption {
        text-align: left;
    }
    thead {
        th {
            background-color: $secondary-color;
            border: 1px solid $footer-color;
            padding: 0.2rem;
        }
    }
    tbody {
        tr {
            &.booked {
                background-color: hsl(0, 0%, 65%);
                font-style: italic;
            }
        }

        td {
            border: 1px solid $footer-color;
            text-align: center;
            padding: 0 0.2rem;
        }
    }
}
