@use '@/src/styles/mixins' as *;

.message-alert {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-size: 1rem;
    gap: 1rem;
    border-color: #f18c33;
    background-color: #fcdfc5;

    &-icon {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #f18c33;
        color: #f18c33;
    }
}

.message-error {
    @include messageError;
    &-icon {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #fd0d0d;
        color: #fd0d0d;
    }
}

/* .message-success {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  font-size: 1rem;
  gap: 1rem;
  border-color: #fd0d0d;
  background-color: #ffd6d6;
  &-icon {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid #fd0d0d;
      color: #fd0d0d;
  }
} */
