/// Font colors
$font-color: hsla(0, 0%, 0%, 1);
$title-color: hsla(0, 0%, 10%, 1);

/// Colors
$footer-color: hsla(0, 0%, 33%, 1);
$background-color: hsla(0, 0%, 96%, 1);
$primary-color: hsla(158, 100%, 78%, 1); 
$secondary-color: hsla(263, 93%, 84%, 1);
$surplace: hsla(263, 93%, 84%, 1);
$surplace-dark: hsla(263, 93%, 60%, 1);
$surplace-light: hsla(263, 93%, 94%, 1);
$ski: hsla(217, 100%, 84%, 1);
$ski-dark: hsla(217, 100%, 60%, 1);
$ski-light: hsla(217, 100%, 94%, 1);
$trajets: hsla(45, 100%, 75%, 1);
$trajets-dark: hsla(45, 100%, 45%, 1);
$trajets-light: hsla(45, 100%, 90%, 1);


/// Breakpoints 
/*$small: 375px;*/
$medium: 768px;
$max-width: 1180px; /* à revoir */
