@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color;
    background: $background-color;
    font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
margin-top: 2rem;
        @media screen and (min-width: $medium) {
          margin-top: 5rem;
        }
    margin-bottom: 1rem;
    width: 85vw;
    max-width: $max-width;
}

h1 {
    font-family: var(--font-merienda), "Brush Script MT", "Comic Sans MS", cursive;
    text-align: center;
    font-size: clamp(1.6rem, 1.369rem + 0.985vw, 2rem);
    text-wrap: balance;
    padding: 1rem;
}

h2 {
    font-size: clamp(1.3rem, 1.127rem + 0.739vw, 1.6rem);
    color: hsla(0, 0%, 20%, 1);
    margin-top: 1rem;
}

h3 {
    font-size: clamp(1.25rem, 1.106rem + 0.616vw, 1.5rem);
    color: hsla(0, 0%, 20%, 1);
    margin-top: 0.5rem;

}

a {
    color: inherit;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit; /*font-size, font-weight, and font-family*/
}

input,
textarea {
    border: none;
    background: none;
}

button,
dialog {
    background-color: transparent;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word; /* voir text-balance*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
