@use '@/src/styles/variables' as *;
@use '@/src/styles/mixins' as *;

.cookie-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $footer-color;
    padding: 2rem;
    z-index: 9999;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid $primary-color;
    color: $background-color;

    label {
        font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        span {
            font-size: 0.8rem;
            align-self: center;
        }
    }

    input[type='checkbox'] {
        @include checkbox;
        background-color: $background-color;
        border-radius: 5px;
        outline: none;
        flex-shrink: 0;
        margin-top: 0.2rem;
    }

    .title {
        font-size: clamp(1.2rem, 1.171rem + 0.123vw, 1.25rem);
        text-align: center;
        padding-bottom: 1rem;
        font-weight: bold;
    }

    .buttons-container {
        display: flex;
        gap: 1rem;
        margin-top: 1.5rem;

        button {
            font-size: 1rem;
            border: 1px solid $primary-color;
            border-radius: 5px;
            padding: 0.1rem 0.5rem;
            outline: none;
            transition: all 0.2s ease-in-out;
            &[data-pressed],
            &[data-hovered] {
                background-color: $primary-color;
                color: $footer-color;
            }
        }
    }
}
