.confidentiality {
  align-items: flex-start;
  h1 {
    align-self: center;
  }

  .last-update {
    font-size: 0.8rem;
    font-style: italic;
  }

  ul {
    padding-inline-start: 2rem;
    list-style-type: square;
  }
}