@use '@/src/styles/variables' as *;

.home-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
        font-size:clamp(2rem, 2vw + 1rem, 3rem);
        color: black;
        text-align: center;
        backdrop-filter: blur(10px);
        /*-webkit-backdrop-filter: blur(10px);*/
        border-radius: 12px;
        padding: 1rem;
        border: 2px solid rgba(255, 255, 255, 0.18);
    }

    .buttons-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }
}
